{
  "presets": [
    [
      "@babel/preset-env",
       {
        "targets": {
          "browsers": ["> 1%", "last 5 versions", "ie >= 8"]
        }
       }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties",{"legacy": true }]
  ]
}